.section-shaped .shape-danger {
    background: linear-gradient(87deg,#f5365c 0,#f56036 100%)
}

.section-shaped .shape-danger :nth-child(1) {
    background: rgba(255,255,255, 0.20);
}

.section-shaped .shape-danger :nth-child(2) {
    background: rgba(255,255,255, 0.20);
}

.section-shaped .shape-danger :nth-child(3) {
    background: rgba(255,255,255, 0.20);
}

.section-shaped .shape-danger :nth-child(4) {
    background: rgba(255,255,255, 0.20);
}

.section-shaped .shape-danger :nth-child(5) {
    background: rgba(255,255,255, 0.20);
}

.btn-icon-only {
    padding: 10px;
}

.blog-card .card-body {
    padding: 24px 0;
}

.blog-card .card-header-image img{
    width: 100%;
}

.content:hover img {
    margin-top: -10px;
    filter: drop-shadow(8px 8px 10px gray);
}
.content {
    padding: 24px 0;
}
.project-img:hover {
    margin-top: -5px;
    filter: drop-shadow(8px 8px 10px gray);
}
.carousel-item .carousel-caption {
     background-color: rgba(0,0,0,0.4);
     border-radius: 10px;
}
